@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #f6f7fb, #b3e5fc);
}
header {
  background-color: #3985a9;
}


input {
  @apply p-2 drop-shadow-md rounded-md border block;
}


button[type="submit"],
.btn {
  @apply py-2 px-4 drop-shadow-md rounded-md bg-gray-200 text-gray-900 border border-gray-200;
}
button[type="submit"],
button.primary,
.btn.primary {
  @apply bg-blue-500 border-blue-500 text-white hover:bg-blue-400 hover:border-blue-400 transition-all duration-300;
}
.btn-red {
  @apply bg-red-500 border-red-500 text-white hover:bg-red-400 hover:border-red-400 transition-all duration-300;
}
.btn.btn-delete-email {
  @apply bg-red-500 border-red-500 text-white hover:bg-red-400 hover:border-red-400 transition-all duration-300 rounded-l-none;
}
.check{
  @apply bg-green-500 border-green-500 text-white hover:bg-green-400 hover:border-green-400 transition-all duration-300;
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  font-size: 14px;
  color: #fff;
  top: -1.4em;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  padding: 2px 6px;
  pointer-events: none;
}

.editor-buttons>button{
  @apply drop-shadow-md border py-1 px-2 rounded-md text-gray-700 text-sm hover:bg-gray-300 hover:border-gray-300 transition-all duration-300;
}
.editor-buttons>button.active{
  @apply bg-gray-300 border-gray-300;
}

.tiptap{
  @apply p-2 border rounded-md
}

.tiptap>h2{
    @apply text-2xl;
}

.tiptap:focus-visible{
  outline:0;
  @apply border border-blue-500
}

.lb-portal{
  z-index: 30;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Oculta la barra de scroll en Chrome, Safari y Opera */
}

.scroll-container {
  -ms-overflow-style: none; /* Oculta la barra de scroll en Internet Explorer y Edge */
  scrollbar-width: none; /* Oculta la barra de scroll en Firefox */
}

